<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <a href="/">点击返回首页</a>
    <h2>计算所用时间: <%= start %> ms</h2>
    <ul>
        <% for(let i=0; i<arr.length; i++){ %>
            <li>
                <%= arr[i] %>
            </li>
        <% } %>
    </ul>
</body>
</html>