<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="box">
        <h2 class="title">
            用户 <%= result.phone %> 的订单
        </h2>
        <div>
            您点的菜是：<%= result.food %>
        </div>
        <div>
            <a href="/">返回首页</a>
        </div>
    </div>
</body>

</html>